.modal.left .modal-dialog,
.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 100vw;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
      -ms-transform: translate3d(0%, 0, 0);
       -o-transform: translate3d(0%, 0, 0);
          transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
  padding: 15px 15px 80px;
}

/*Left*/
.modal.left.fade .modal-dialog {
  left: -320px;
  -webkit-transition: opacity 0.4s linear, left 0.4s ease-out;
     -moz-transition: opacity 0.4s linear, left 0.4s ease-out;
       -o-transition: opacity 0.4s linear, left 0.4s ease-out;
          transition: opacity 0.4s linear, left 0.4s ease-out;
}

.modal.left.fade.in .modal-dialog {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

/*Right*/
.modal.right.fade .modal-dialog {
  right: -320px;
  -webkit-transition: opacity 0.4s linear, right 0.4s ease-out;
     -moz-transition: opacity 0.4s linear, right 0.4s ease-out;
       -o-transition: opacity 0.4s linear, right 0.4s ease-out;
          transition: opacity 0.4s linear, right 0.4s ease-out;
}

.modal.right.fade.in .modal-dialog {
  right: 0;
}

.modal-content {
  background: ##2B2B2B; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#2B2B2B, #4A4A4A); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#2B2B2B, #4A4A4A); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#2B2B2B, #4A4A4A); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#2B2B2B, #4A4A4A); /* Standard syntax */
  color: #F7F7F7;
  position: relative;
  border-radius: 0;
  box-shadow: none;
  padding: 5%;
  text-align: center;
  align-items: center;
  margin: 0;
  font-size: 20px;
}

@media screen and (max-device-width : 767px)
{
  .modal-content
  {
    font-size: 16px;
  }
}

.modal-content h1 {
  margin-bottom: 30px;
}

.modal-header {
  border-bottom: 0;
}

.close-btn {
  background-color: transparent;
  border: 0;
  color: #F7F7F7;
  font-size: 24px;
  position: absolute;
  top: 5%;
  right: 10%;
  z-index: 999;
}

.close-btn:hover {
  background-color: transparent;
  color: #F7F7F7
;
}

.about-menu {
  height: 100%;
  padding-top: 25vh;
}

.about-btn {
  margin: 10px;
  border: 0;
  color: #F7F7F7;
  background-color: #007AFF;
  border-radius: 50px;
  font-size: 30px;
}
/*
.about-btn:hover {
  background-color: #fff;
}*/
