.App {
  background: url("./img/IMG_3137_1.jpg") no-repeat top center fixed;
  background-size: cover;
  color: white;
  height: 100vh;
  width: 100%;
  text-align: center;
}

.greet {
  display: none;
}

.latest {
  display: none;
}

.content {
  height: 99vh;
  padding: 0;
  margin: 0;
}

.content:hover .greet {
  display: block;
  height: 100%;
  padding: 15px;
  cursor: pointer;
}

.content:hover .latest {
  background-color: rgba(0, 0, 0, 0.3);
  display: block;
  height: 100%;
  padding: 15px;
  cursor: pointer;
}
