.App {
  background: url("IMG_3137.JPG") no-repeat center fixed;
  background-size: cover;
  color: white;
  height: 100vh;
  width: 100%;
  text-align: center;
}

.greet {
  display: none;
}

.latest {
  display: none;
}

.content {
  height: 99vh;
  padding: 0;
  margin: 0;
}

.content:hover .greet {
  background-color: rgba(0, 0, 0, 0.3);
  display: block;
  height: 100%;
  padding: 15px;
}

.content:hover .latest {
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
  height: 100%;
  padding: 15px;
}

.header {
  background: transparent;
  width: 100px;;
}

.email-btn {
  background-color: transparent;
  border: 0;
  color: white;
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 40px;
}

.email-btn:hover {
  background-color: transparent;
  color: blue;
}
